Binaries
DerivedDataCache
Intermediate
Saved
Content/ParagonLtBelica
Content/AnimStarterPack
Content/FPS_Weapon_Bundle
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace