Binaries
DerivedDataCache
Intermediate
Saved
Content/ParagonLtBelica
Content/AnimStarterPack
Content/FPS_Weapon_Bundle
Content/A_Surface_Footstep
Content/KiteDemo
Content/Lighting
Content/ParagonProps
Content/SampleMap
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace